<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NAIST学食円ガチャ</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>NAIST学食1000円ガチャについて</h1>
    <h2>本サイトについて</h2>
    <p>本サイトはNAIST学食ヘビーユーザによって開発されたギャグサイトです。</p>
    <h2>免責事項</h2>
    <p>本サイトの利用によって生じた損失等に関し、当方は一切責任を負いません。</p>
    <h2>栄養素計算について</h2>
    <p>カロリーは<a href="https://www.asken.jp/">あすけん</a>を利用して計算しています。</p>
    <p>大盛りは1.5人前として、アラカルト丼は「唐揚げ丼」、日替わり定食は「唐揚げ定食」で固定して計算しています。</p>
    <h2>開発者のGitHub</h2>
    <a
        href="https://github.com/Hikotty/1000YenGacha-of-NAIST-Cafeteria">https://github.com/Hikotty/1000YenGacha-of-NAIST-Cafeteria</a>
    <p>
        <a href="/" class="button">ホームに戻る</a>
    </p>
</body>

</html>